@model TARpe22ShopVäli.Models.Car.CarCreateUpdateViewModel
@if (Model.Id != Guid.Empty)
{
    <h1>Update</h1>
}
else
{
    <h1>Create</h1>
}

<div>
    <form method="post" enctype="multipart/form-data">
        <input asp-for="Id" type="hidden" />
        <input asp-for="CreatedAt" type="hidden" />
        <input asp-for="ModifiedAt" type="hidden" />

        <div class="form-group row">
            <label asp-for="Brand" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Brand" class="form-control"/>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Mark" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Mark" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="CarShape" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="CarShape" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="CarType" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="CarType" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="LicensePlate" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="LicensePlate" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="LicensePlateTemplate" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="LicensePlateTemplate" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ManufactureDate" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="ManufactureDate" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="SeatAmount" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="SeatAmount" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="OriginCountry" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="OriginCountry" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="HasAirConditioning" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="HasAirConditioning" class="form-check-input" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="IsCarSold" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="IsCarSold" class="form-check-input" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Files" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-5">
                <input class="form-control custom-file-input" asp-for="Files" multiple type="file" />
                <label class="custom-file-label">Choose File...</label>
            </div>
        </div>

        <hr />
        @foreach (var images in Model.Image)
        {
            <partial name="_images" model="images"/>
            <input asp-action="removeImage" asp-controller="cars" asp-route-imageId="@images.ImageId" type="submit" class="btn btn-danger" value="Remove Image"/>
        }
        <hr />
        @if (Model.Id != Guid.Empty)
        {
            <input asp-action="update" asp-controller="cars" type="submit" class="btn btn-primary" value="Update" />
        }
        else
        {
            <input asp-action="create" asp-controller="cars" type="submit" class="btn btn-primary" value="Create" />            
        }
        <a asp-action="index" asp-controller="cars" class="btn btn-primary">Cancel</a>
    </form>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('custom-file-input').on("change", function () {
                var fileLabel = $(this).next('custom-file-label');
                var files = $(this)[0].files;
                if (files.length > 1) {
                    fileLabel.html(files.length + ' files selected');
                }
                else if (files.length == 1) {
                    fileLabel.html(files[0].name);
                }
            })
        })
    </script>
}